@{
    ViewBag.Title = "部门管理";
}

@section css{
    <link rel="stylesheet" href="/modules/css/products/unit.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/organization/department"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">部门管理</span>
    <div class="right searth-module"> </div>
    
</div>
<div class="content-body">
    <ul class="entity-list">
        @foreach (var item in (List<CloudSalesEntity.C_Department>)ViewBag.Items)
        {
            <li class="entity-item"><input type="text" data-id="@(item.DepartID)" data-value="@(item.Name)" value="@(item.Name)" /><span data-id="@(item.DepartID)" class="ico-delete"></span></li>
        }
       
        <li id="addEntity"><a href="javascript:void(0)" class="ico-add left mTop4">添加</a></li>
    </ul>
    
</div>
