

* { padding: 0; margin: 0; font-size:9pt; color:#333; }/*033d91*/
li{ list-style-type:none;}
a { text-decoration: none; color: #004369; }
textarea { min-height: 75px; border:solid 1px #ccc; border-radius:5px;text-indent:3px;}

input[type="text"] { border:solid 1px #ccc; border-radius:5px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #06C; }

input[type="password"] { border:solid 1px #ccc; border-radius:5px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #06C; }

select{ border:solid 1px #ccc; border-radius:5px;height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

.left { float:left !important; }
.right { float:right !important; }
.hand { cursor:pointer; }
.middle { vertical-align:middle;}
.bolder { font-weight:bold; }
.clear { clear:both; }
.center { text-align:center; }
.tRight { text-align:right;}
.hide { display:none !important; }


.long { display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.red { color:red !important;}

/*按钮和图标*/
.btn { height:25px; padding:0px 10px; line-height:25px; background-color:#BFD9EA ; color:#033d91; 
       border:none; font-weight:bold; cursor:pointer; display:inline-block; border-radius:0;}

.ico-add{ background:url(../images/ico-add.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; padding-left:25px; color:#7faaca; font-weight:bold; }

.ico-edit{ background:url(../images/ico-edit-light.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer;  color:#666; }
.ico-edit:hover{ background:url(../images/ico-edit-deep.png) no-repeat;}

.ico-del{ background:url(../images/ico-del-light.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; color:#666; }

.ico-back{ background:url(../images/ico-back.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; color:#666; padding-left:25px; }

.ico-logout{ background:url(../images/ico-logout.png) no-repeat; height:24px; min-width:24px; line-height:24px; 
          display:inline-block; cursor:pointer; color:#666; padding-left:25px; }

.ico-del:hover{ background:url(../images/ico-del-deep.png) no-repeat;}

.ico-delete{ background:url(../images/ico-delete.png) no-repeat; height:20px; min-width:20px; line-height:20px; 
          display:inline-block; cursor:pointer;}

.ico-input-add{ background:url(../images/ico-input-add.png) no-repeat 4px ; height:20px; width:23px; line-height:20px; display:inline-block; cursor:pointer; }

.ico-help{ background:url(../images/ico-help.png) no-repeat; height:20px; min-width:20px; line-height:20px; 
          display:inline-block; cursor:pointer;}
/*字体*/
.font14 {font-size:14px; }
.font16 {font-size:16px; }
.font18 {font-size:18px; }
.font20 {font-size:20px; }

.color333 { color:#333 !important; }
.color666 { color:#666 !important; }
.color999 { color:#999 !important; }
.colorccc { color:#ccc !important; }

.lineHeight15 { height:15px; line-height:15px;}
.lineHeight20 { height:20px; line-height:20px;}
.lineHeight25 { height:25px; line-height:25px;}
.lineHeight30 { height:30px; line-height:30px;}
.lineHeight35 { height:35px; line-height:35px;}

/*间距*/
.pLeft1 {padding-left:1px;}
.pLeft2 {padding-left:2px;}
.pLeft3 {padding-left:3px;}
.pLeft4 {padding-left:4px;}
.pLeft5 {padding-left:5px;}
.pLeft10 {padding-left:10px;}
.pLeft15 {padding-left:15px;}
.pLeft20 {padding-left:20px;}
.pLeft30 {padding-left:30px;}
.pLeft50 {padding-left:50px;}

/*margin*/ 
.mTop1 {margin-top:1px;}
.mTop2 {margin-top:2px;}
.mTop3 {margin-top:3px;}
.mTop4 {margin-top:4px;}
.mTop5 {margin-top:5px;}
.mTop10 {margin-top:10px;}
.mTop15 {margin-top:15px;}
.mTop20 {margin-top:20px;}
.mTop30 {margin-top:30px;}
.mTop50 {margin-top:50px;}

.mLeft1 {margin-left:1px;}
.mLeft2 {margin-left:2px;}
.mLeft3 {margin-left:3px;}
.mLeft4 {margin-left:4px;}
.mLeft5 {margin-left:5px;}
.mLeft10 {margin-left:10px;}
.mLeft15 {margin-left:15px;}
.mLeft20 {margin-left:20px;}
.mLeft30 {margin-left:30px;}
.mLeft50 {margin-left:50px;}

.mRight1 {margin-right:1px;}
.mRight2 {margin-right:2px;}
.mRight3 {margin-right:3px;}
.mRight4 {margin-right:4px;}
.mRight5 {margin-right:5px;}
.mRight10 {margin-right:10px;}
.mRight15 {margin-right:15px;}
.mRight20 {margin-right:20px;}
.mRight30 {margin-right:30px;}
.mRight50 {margin-right:50px;}

.mBottom1 {margin-bottom:1px;}
.mBottom2 {margin-bottom:2px;}
.mBottom3 {margin-bottom:3px;}
.mBottom4 {margin-bottom:4px;}
.mBottom5 {margin-bottom:5px;}
.mBottom10 {margin-bottom:10px;}
.mBottom15 {margin-bottom:15px;}
.mBottom20 {margin-bottom:20px;}
.mBottom30 {margin-bottom:30px;}
.mBottom50 {margin-bottom:50px;}

/*常用宽度*/
.width30 { width:30px !important; }
.width50 { width:50px !important; }
.width80 { width:80px !important; }
.width100 { width:100px !important; }
.width120 { width:120px !important; }
.width150 { width:150px !important; }
.width200 { width:200px !important; }

/*header样式*/
header { height:55px; width:100%; padding-top:25px; background:url(../images/header.jpg) no-repeat left top; position:relative; }

header .logo { width:150px; height:50px; padding-left:50px; }
header .logo img{ width:100px; height:45px; }
header .menu { position:absolute; height:28px; left:240px; bottom:0; overflow:hidden;}
header .menu a{ background:url(../images/topmenu.gif) no-repeat left top;color:#033d91;height:28px; line-height:28px;text-align:center;width:79px; display:inline-block;}
header .menu a:hover,header .menu .select{ background:url(../images/topmenu.gif) no-repeat -234px top;color:#fff; width:78px;font-weight:bold;}

header .help { position:absolute; height:28px; right:50px; bottom:0; overflow:hidden;}


.topLine {width:100%;height:4px;background:url(../images/topLine.gif) repeat-x left top;}

/*main页面*/
.main-body { width:100%; position:fixed; top:84px; }

/*左侧菜单栏*/
nav { width:186px; position:absolute; left:0;}
nav .admin-name { background:url(../images/sidebar.gif) repeat-x left top; padding:10px 0 0 20px; height:22px; width:166px; color:#2a3441;}
nav .admin-name span { width:60px; float:left; }

nav .top-nav { width:186px; height:32px; border-bottom:1px solid #aae3fd; background-color:#97bed8; color:#2a3441; }
nav .top-nav img{ margin:10px 0 0 19px;display:inline; float:left; height:16px; width:16px;}
nav .top-nav span{margin-top:10px;float:left; padding-left:5px;}
nav .top-nav a{color:#2a3441;}

nav .controller .ico-img { background:url(../images/ico-open.png) no-repeat; float:left; width:16px; height:16px; border-radius:8px; margin:6px 0 0 19px; display:inline-block;}
nav .controller ul { display:none; }
nav .controller { width:186px; overflow:hidden; background-color:#bfd9ea; border-bottom:1px solid #e7f5fd;cursor:pointer;}
nav .select .ico-img{ background:url(../images/ico-pull.png) no-repeat; }
nav .select ul { display:block; background-color:#eafafe; margin-top:29px;}
nav .controller .menu-name{float:left; font-size:10pt; color:#2a3441; padding-left:5px; height:28px; line-height:28px;}

nav .action {width:186px; border-bottom:1px solid #fff; float:left; }
nav .action a{ width:141px; height:25px;line-height:25px;padding-left:45px; display:block; color:#2a3441; background:url(../images/submenu.gif) repeat-x -5px -26px;}
nav .action a:hover{background:url(../images/submenu.gif) no-repeat left top; font-weight:bold;}
nav .action .select{background:url(../images/submenu.gif) no-repeat left top;font-weight:bold;}

/*隐藏左侧菜单*/
.controlbar { width:4px; background-color:#7faaca; position:absolute; left:186px;}

.ico-left-pull{ background:url(../images/ico-left-pull.png) no-repeat; position:absolute; left:188px; width:22px; height:32px; cursor:pointer; }
.ico-left-pull:hover{ background:url(../images/ico-left-pullL.png) no-repeat;left:186px;  height:64px; cursor:pointer; }
.ico-left-open{ background:url(../images/ico-left-open.png) no-repeat; position:absolute; left:2px; width:22px; height:32px; cursor:pointer;}
.ico-left-open:hover{ background:url(../images/ico-left-openL.png) no-repeat;left:0px;  height:64px; cursor:pointer; }

/*内容页样式*/
.main-content { overflow-x:hidden; position:absolute; right:0; }

.header-box { border-bottom:solid 1px #7faaca; margin:20px; height:35px; }
.ico-goback { background:url(../images/ico-goback.png) no-repeat; width:32px; height:32px; cursor:pointer; display:inline-block; }
.ico-gonext { background:url(../images/ico-gonext.png) no-repeat; width:32px; height:32px; cursor:pointer; display:inline-block; }
.header-title { height:20px; line-height:20px; padding-left:10px; margin-top:6px; border-left:solid 5px #7faaca; font-weight:bold; color:#7faaca; }


.content-body{ margin:0 20px; padding-bottom:50px; overflow:auto; }

/*数据验证错误*/
.verify-fail-err { height:20px; line-height:20px; padding-left:10px; padding-top:2px;}


/*表格样式*/
.table-list { width:100%; border-top:solid 1px #c5dceb;border-left:solid 1px #c5dceb; border-collapse:collapse;border-spacing:0;}
.table-list tr{ height:25px;  background-color: #fff;}
.table-list tr:hover { background-color: #e7f5fd; }
.table-list td{ border-bottom:solid 1px #c5dceb;border-right:solid 1px #c5dceb; padding:5px 10px; vertical-align:middle;  }
.table-list a{ color:#333;  vertical-align:middle;}
.table-list a:hover{ color:red; text-decoration:underline; }
.table-list .tr-header{ text-align:center;font-weight:bold; height:35px; }
.table-list .tr-header td{ background-color:#e7f5fd; color:#2a3441;}

/*新建样式*/
.table-add {  border-bottom:solid 1px #7faaca; padding-bottom:20px; }
.table-add li{ line-height:25px; margin-top:5px;  padding: 2px 20px;}
.table-add li input[type="text"] { height:20px; line-height:20px; padding:2px 5px; width:150px; }
.table-add li textarea { height:80px; line-height:20px; padding:1px 5px; border:solid 1px #ccc; width:350px; border-radius:5px;}
.table-add span {  display:inline-block; color:#333; vertical-align:top;}


.alert { border: 1px solid #5996CE;  background-color: #fff; font-size: 13px; margin: auto; position: fixed; top: 30%; z-index: 9999; 
         padding: 15px; display: inline-block; min-width: 330px; text-align: center; -moz-box-shadow: 0 0 30px #ccc;
         box-shadow: 0 0 30px #ccc; -webkit-box-shadow: 0 0 30px #ccc; }

.alert .alertwrap { position: relative; }
.alert .close { position: absolute; top: -15px; right: -15px; cursor: pointer; font-size: 16px; 
                width: 20px; height: 20px; text-align: center; line-height: 20px; }

