@charset "gb2312";/* CSS Document */

body{ font-size:12px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, embed, object { margin:0px;padding:0px;}
fieldset, img, abbr { border:0;margin: 0;}
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, strong, th, var { font-style:normal;}
ul { list-style:none;margin:0;padding:0;}
ol { margin-left:25px }
ol li { margin-left:10px }
caption, th { text-align:left;}
q:before, q:after { content:'';}
a, ins { text-decoration:none;}
strong { font-weight: bold;}
a { color:#666;}
a.line { text-decoration:underline;}
.none { display:none;}
.hidden { visibility:hidden;}
.clear { clear:both;font-size:0px;height:0px;line-height:0px;overflow:hidden;}
td, select { font-size:12px;}
.lf { float:left;}
.lr { float:right;}
.Arial{ font-family:Arial;}
.lakai { line-height:1%;font-size:1px;display:block;clear:both;}

body{ background:url(../images/loginMainBackground.jpg) repeat-x left top;color:#033d91;}


#container{margin:0 auto;width:1000px; height:500px;padding-top:130px;background:url(../images/loginBackground.jpg) no-repeat center top;}

#container .main{margin:0 auto;width:608px;height:340px; background-color:#D9EFFA;}
#container .main .title{width:100%;height:70px; color:#29abdf; text-align:center; font-size:32px; font-weight:bold; line-height:70px; border-bottom:solid 1px #fff;}
#container .main .content{width:530px;float:left;margin-left:35px;display:inline;}

/**/
#container .main .login{ width:300px;float:left;margin-top:41px;}
#container .main .login .loginbar{width:100%;height:45px; margin:10px 0px; }

#container .loginbar input{ width:300px;height:40px; border:solid 1px #ccc; border-radius:0px; color:#333; background-color:#fff; text-indent:30px;}
#iptUserName { background:url(../images/ico-name.png) no-repeat 5px 5px; }
#iptPwd { background:url(../images/ico-pwd.png) no-repeat 5px 5px; }


/**/
#container #loginBtn{width:200px; float:right; padding-top:30px; height:50px;}


#btnLogin { height:35px;line-height:35px; background-color:#BFD9EA ; color:#033d91; font-size:16px;
       border:none; font-weight:bold; cursor:pointer; display:inline-block; border-radius:0; width:200px;}

.logo {  height:150px; width:150px; float:right; margin:40px 20px 0 0 ;}


/**/
#container  #preservation{ width:180px; float:left; margin-top:10px;}
#container  #preservation input{ float:left; margin-right:5px; display:inline; margin-left:9px;}
#container  #preservation label{float:left; padding-top:4px; color:#5f7688;}

#container .copyright{margin:0 auto;width:608px;margin-top:35px;font-family:Arial;position:relative;}
#container .copyright p{text-align:center; float:left;width:608px;color:#fff;}
#container .copyright span{ position:absolute; width:608px; left:-1px; top:-1px; color:#033d91; }



