
/*分类层级*/
.top-div { height:30px; border-bottom:solid 1px #ccc; padding-bottom:5px;}
.category-map {  }
.category-map li{ height:30px; line-height:30px; color:#333; cursor:pointer; float:left; padding-right:20px; }
.category-map li span { font-family: simsun; font-style: normal; padding-left:5px; }
.category-map li:hover{  color:#B10000; }

/*属性筛选*/
.attr-item { border-bottom:solid 1px #ccc; overflow:auto; background-color:#eee; }
.attrkey{ width:10%; float:left; line-height:35px; text-indent:20px; }
.attrValues{ width:90%; float:left;line-height:35px; height:35px; height:auto; background-color:#fff;}
.attrValues li { height:25px; line-height:25px; float:left; padding:0 20px; margin:5px 0; cursor:pointer; display:inline-block; }
.attrValues li:hover { color:#B10000; }

.attrValues li.hover { border:solid 1px #B10000; color:#B10000; }


#beginprice, #endprice { width:60px; }

/*排序*/
.filter-orderby { height:50px; width:100%; background-color:#FAF9F9; color:#806F66; margin-top:30px; }
.filter-orderby .orderby{ border-left:solid 1px #ccc; border-top:solid 1px #ccc;border-bottom:solid 1px #ccc; height:25px; width:183px;}
.filter-orderby .orderby li{ border-right:solid 1px #ccc; float:left;  line-height:25px; padding:0 10px; width:40px; cursor:pointer;}

.filter-orderby .orderby li:hover,.filter-orderby .orderby .hover{ background-color:#eee; color:#B10000;}

.orderby-new .ico,.orderby-sales .ico{ background:url(/modules/images/ico-orderby-down.png) no-repeat 2px 3px; height:12px; width:12px; display:inline-block; }
.orderby-new:hover .ico,.orderby-sales:hover .ico,.orderby-new.hover .ico,.orderby-sales.hover .ico{ background:url(/modules/images/ico-orderby-down-hover.png) no-repeat 2px 3px; }

.orderby-price { position:relative; }
.orderby-price .shang { position:absolute; top:5px; right:15px; background:url(/modules/images/ico-orderby-shang.png) no-repeat; height:8px; width:8px; display:inline-block;}
.orderby-price .xia { position:absolute; top:12px; right:15px; background:url(/modules/images/ico-orderby-xia.png) no-repeat; height:8px; width:8px; display:inline-block;}

.orderby-price.hover .shang-hover { position:absolute; top:5px; right:15px; background:url(/modules/images/ico-orderby-shang-hover.png) no-repeat; height:8px; width:8px; display:inline-block;}
.orderby-price.hover .xia-hover { position:absolute; top:12px; right:15px; background:url(/modules/images/ico-orderby-xia-hover.png) no-repeat; height:8px; width:8px; display:inline-block;}



/*产品列表样式*/
.productlist { width:100%; overflow:auto;}
.productlist li{ width:250px; height:350px; float:left; margin-top:20px; }

.productlist .product-item{  width:230px; height:330px; padding:5px; border:solid 5px #eee; display:inline-block; position:relative; }
.productlist li:hover .product-item{ border:solid 5px #B10000; }

.product-item .productimg { width:230px; height:230px; overflow:hidden; display:inline-block; }
.product-item .productimg img{ width:230px; height:230px;}

.product-item .price { color:#B10000; height:30px; line-height:30px; font-size:16px; }

.product-item .name { height:35px; overflow:hidden; color:#333; }
.product-item .name:hover { text-decoration:underline; color:#B10000; }

.product-item .sales { height:25px; line-height:25px; color:#666; position:absolute; bottom:5px; }

#pager { margin:50px auto; }
