

.edit-warehouse { height:25px;  padding:0 15px; border-radius:13px; background-color:#BFD9EA; border:1px solid #BFD9EA;
              cursor:pointer; color:#033d91;}

/*列表样式*/

.s-len{ width:30px;}
.m-len{ width:80px;}
.l-len{ width:160px;}
