@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>后台管理系统</title>
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/login.css" rel="stylesheet" />
    
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home"], function (home) {
            home.loginInit();
        });
    </script>
</head>
<body>
    <div id="container">
        <div class="main">
        <div class="title">云销管理后台登录</div>
        <div class="content">
            <div class="login">
                <div class="loginbar">
                    <input type="text" id="iptUserName" placeholder="请输入账号" class="verify"  data-empty="*" maxlength="25"/>
                </div>
                <div class="loginbar">
                    <input type="password"  class="verify" placeholder="请输入密码"  data-empty="*" id="iptPwd"/>
                </div>
                <div id="loginBtn"> 
                    <input class="btnLogin" id="btnLogin" type="button" value="登录"/>
                </div>
            </div>
            <img class="logo" src="../../modules/images/logo_login.png" />
        </div>
        </div>
        <div class="copyright">
            <p>上海云销信息科技有限公司 (C)2013-2015<p>
            <span>上海云销信息科技有限公司 (C)2013-2015</span>
        </div>
    </div>
</body>
</html>
