

.category-all { overflow-x:auto; overflow-y:hidden; }

/*分类*/
.category-layer { width:200px; float:left; }

.category-header { background-color:#e7f5fd; height:30px; width:180px; line-height:30px;padding:0 10px; border:solid 1px #c5dceb; }
.category-header span { width:100px; }

.category-list { width:200px; overflow-x:hidden; overflow-y:auto; border:solid 1px #c5dceb; position:relative; }
.category-list li { height:30px; width:180px; line-height:30px; padding:0 10px; cursor:pointer; }
.category-list li:hover { background-color:#c5dceb; }



.category-list .hover { background-color:#c5dceb; }
.category-list li span{ float:left;}
.category-list li  .category-name{ width:155px;}


/*分类属性*/
.category-attr-layer { width:230px; float:left; margin-left:10px; }

.category-attr-header { background-color:#5b84ab; height:30px; width:210px; line-height:30px;padding:0 10px; border:solid 1px #c5dceb; }
.category-attr-header span { width:100px; }

.category-attr-list { width:230px; overflow-x:hidden; overflow-y:auto; border:solid 1px #c5dceb; position:relative; margin-bottom:5px; }
.category-attr-list li { height:30px; width:210px; line-height:30px; padding:0 10px; cursor:pointer; }
.category-attr-list li .ico-edit,.category-attr-list li .ico-del{ display:none;}

.category-attr-list li:hover { background-color:#c5dceb; }
.category-attr-list li:hover .ico-edit,.category-attr-list li:hover .ico-del{ display:inline-block; margin-right:5px; }

.category-attr-list .header { background-color:#c5dceb; }
.category-attr-list .hover { background-color:#c5dceb; }
.category-attr-list li span{ float:left;}
.category-attr-list li  .category-name{ width:155px;}

/*通用属性*/
.common-attr-layer { width:230px; float:left;}

.common-attr-header { background-color:#5b84ab; height:30px; width:210px; line-height:30px;padding:0 10px; border:solid 1px #c5dceb; }
.common-attr-header span { width:100px; }

.common-attr-list { width:230px; overflow-x:hidden; overflow-y:auto; border:solid 1px #c5dceb; position:relative; margin-bottom:5px; }
.common-attr-list li { height:30px; width:210px; line-height:30px; padding:0 10px; cursor:pointer; }
.common-attr-list li .ico-edit,.category-attr-list li .ico-del{ display:none;}

.common-attr-list li:hover { background-color:#c5dceb; }

.common-attr-list .header { background-color:#c5dceb; }
.common-attr-list .hover { background-color:#c5dceb; }
.common-attr-list li span{ float:left;}
.common-attr-list li  .category-name{ width:155px;}

.common-attr-list a {text-decoration:underline;}
.common-attr-list a:hover {color:red; }

.ico-edit, .ico-add, .ico-del{ margin-top:3px; }

.category-add { }
.category-add li { height:auto; }
.category-add .column-name{ width:80px; }
.category-add input[type="checkbox"] { vertical-align:middle; margin:0 2px; }

/*属性值*/
.attr-value-box { border:solid 1px #7faaca; width:300px; overflow-x:hidden; overflow-y:auto; background-color:#fff; position:fixed; top:84px; right:-302px; z-index:666; }
.attr-value-box .title { margin:20px 20px 0 20px; border-bottom:solid 1px #7faaca; padding-bottom:5px; }
.attr-value-box .header-title {display:block; margin-bottom:10px;}
.attr-value-box .add-value { position:relative; margin-left:19px; height:30px;  width:200px;margin-bottom:10px;}
.attr-value-box .value-name { height:30px; line-height:30px; width:200px; }
.attr-value-box .ico-input-add { position:absolute; right:-3px; top:5px; border-left:solid 1px #ccc;}

.attr-value-box ul{ width:300px; margin-top:20px; padding-bottom:30px; }
.attr-value-box ul li{ width:220px; height:30px; margin-left:39px; border:solid 1px #ccc; border-radius:5px; line-height:30px; margin-top:10px; text-align:center; cursor:pointer;position:relative;}
.attr-value-box ul li input{ height:28px; line-height:30px; width:50px; text-align:center; border:none !important; cursor:pointer; }
.attr-value-box ul li span{ position:absolute; right:-9px; top:-9px; display:none; background-color:white; }
.attr-value-box ul li:hover span{ display:inline-block; }
.attr-value-box ul .unit-item { border:solid 1px #ccc; border-radius:5px; }
.attr-value-box ul .unit-item:hover{ border:solid 1px #7faaca; }



