

/*产品属性*/
.show-nav { height: 30px; width: 99%; line-height: 30px; margin-top: 20px; border-width: 2px 1px 1px; border-style: solid; 
            border-color: #999 #DEDFDE #DEDFDE; background-color: #F7F7F7; overflow: visible; }
.show-nav-ul { float: left; height: 31px; margin-bottom: -1px; }
.show-nav-ul li { height:30px; float:left; padding:0 20px; cursor:pointer; }
.show-nav-ul .hover { position: relative; height: 35px; line-height: 35px; margin-top: -6px; margin-left: -1px; border-top: 2px solid #E4393C;
          border-left: 1px solid #DEDFDE; border-right: 1px solid #DEDFDE; background-color: #FFF; }

.ico-back { margin-top:3px; }

.product-add { overflow:auto; border-left:solid 1px #DEDFDE; }
.product-add li { height:auto; }
.product-add .column-name{ width:85px; float:left; }
.product-add input[type="checkbox"] { vertical-align:middle; margin:0 2px; }

.edui-container { min-width:700px; width:80%; float:left; }

.product-img { position:absolute; top:150px; right:50px; width:150px; }
.product-img img{ width:150px;}

.salesattr .salesattr-values span{ min-width:80px;}

#childproduct { overflow:auto;}
.table-list { width:99%; margin-top:50px; }

/*添加子产品*/
.product-details-add { width:500px; min-height:200px; }
.product-details-add li { height:auto; }
.product-details-add .column-name{ width:85px; float:left; }

.product-imgS { position:absolute; top:80px; right:50px; width:150px; }
.product-imgS img{ width:150px;}



