
.ico-back { margin-top:3px; }

.product-add { }
.product-add li { height:auto; }
.product-add .column-name{ width:85px; float:left; }
.product-add input[type="checkbox"] { vertical-align:middle; margin:0 2px; }

.edui-container { width:700px; margin-left:85px !important; }

.product-img { position:absolute; top:80px; right:50px; width:150px; }
.product-img img{ width:150px;}

.salesattr .salesattr-values span{ min-width:80px;}


/*添加子产品*/
.product-details-add { width:500px; min-height:200px; }
.product-details-add li { height:auto; }
.product-details-add .column-name{ width:85px; float:left; }



