{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td><a href="DocDetail/{%=item.DocID%}" target="_blank">{%=item.DocCode%}</a></td>
    <td class="center">{%=item.StatusStr%}</td>
    <td class="tRight">{%=item.TotalMoney.toFixed(2)%}</td>
    <td class="center">{%=item.CreateUser.Name%}</td>
    <td class="center">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class="center {%=item.Status < 2? 'dropdown':''%} " data-id="{%=item.DocID%}">
        <span class="{%=item.Status < 2? 'ico-dropdown':''%}"></span>
    </td>
</tr>
{% } %}
