@{
    ViewBag.Title = "品牌设置";
}
<link href="/modules/css/products/brand.css" rel="stylesheet" />
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/brand"], function (brand) {
            brand.initList();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">品牌设置</span>
    <a href="BrandAdd" class="ico-add left mTop4 mLeft20">添加品牌</a>
    <div class="right searth-module"> </div> 
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header" id="brand-items">
            <td class="s-len">商标</td>
            <td>品牌名称</td>
            <td class="m-len">其他名称</td>
            <td class="l-len">品牌风格</td>
            <td class="m-len">启用/禁用</td>
            <td class="">备注</td>
            <td class="s-len">编辑</td>
            <td class="s-len">删除</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
