@{
    ViewBag.Title = "设置子产品";
    var model = (CloudSalesEntity.C_Products)ViewBag.Model;
}

<link href="/modules/css/products/product.css" rel="stylesheet" />

<div class="header-box">
    <span class="header-title left">@(model.ProductName) — 设置子产品</span>
    <a class="ico-back left mLeft5" title="返回" href="/Products/ProductList"></a>
</div>
