@{
    ViewBag.Title = "设置子产品";
    var model = (CloudSalesEntity.C_Products)ViewBag.Model;
}

<link href="/modules/css/products/product.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/productdetails"], function (obj) {
            obj.init('@Html.ToJSONString(model)');
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">@(model.ProductName) — 设置子产品</span>
    <a class="ico-back left mLeft5" title="返回" href="/Products/ProductList"></a>
    <a href="javascript:void(0)" id="addDetails" class="ico-add left mTop4 mLeft20">添加子产品</a>
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header" id="header-items">
            <td>编码</td>
            <td class="">规格</td>
            <td class="s-len">单位</td>
            <td class="m-len">价格</td>
            <td class="m-len">启用/禁用</td>
            <td class="s-len">编辑</td>
        </tr>
    </table>
</div>
