* {margin: 0px;padding: 0px;}
body{font-size:12px;font-family:Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
header,footer,nav,section {display: block;}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {border:1px solid #ddd;padding:0 1.4em 1.4em 1.4em; margin:0 0 1.5em 0;}
legend {font-size:1.2em;font-weight: bold;}
.editor-label {margin: 1em 0 0 0;}
.editor-field {margin:0.5em 0 0 0;}

span { display:inline-block;}
li { list-style:none;}
a {text-decoration:none; }

.left { float:left;}
.right {float: right;}
.center {text-align:center;}
.tLeft {text-align:left;}
.tRight {text-align:right;}
.middle {vertical-align:middle;}
.top {vertical-align:top;}
.bottom {vertical-align:bottom;}
.hide {display:none;}
.hand {cursor:pointer;}

.lineHeight15 { height:15px; line-height:15px;}
.lineHeight20 { height:20px; line-height:20px;}
.lineHeight25 { height:25px; line-height:25px;}
.lineHeight30 { height:30px; line-height:30px;}
.lineHeight35 { height:35px; line-height:35px;}

.mLeft1 {margin-left:1px;}
.mLeft2 {margin-left:2px;}
.mLeft3 {margin-left:3px;}
.mLeft4 {margin-left:4px;}
.mLeft5 {margin-left:5px;}
.mLeft10 {margin-left:10px;}
.mLeft15 {margin-left:15px;}
.mLeft20 {margin-left:20px;}
.mLeft30 {margin-left:30px;}
.mLeft50 {margin-left:50px;}

.pLeft1 {padding-left:1px;}
.pLeft2 {padding-left:2px;}
.pLeft3 {padding-left:3px;}
.pLeft4 {padding-left:4px;}
.pLeft5 {padding-left:5px;}
.pLeft10 {padding-left:10px;}
.pLeft15 {padding-left:15px;}
.pLeft20 {padding-left:20px;}
.pLeft30 {padding-left:30px;}
.pLeft50 {padding-left:50px;}

.mTop1 {margin-top:1px;}
.mTop2 {margin-top:2px;}
.mTop3 {margin-top:3px;}
.mTop4 {margin-top:4px;}
.mTop5 {margin-top:5px;}
.mTop10 {margin-top:10px;}
.mTop15 {margin-top:15px;}
.mTop20 {margin-top:20px;}
.mTop30 {margin-top:30px;}
.mTop50 {margin-top:50px;}

.mRight1 {margin-right:1px;}
.mRight2 {margin-right:2px;}
.mRight3 {margin-right:3px;}
.mRight4 {margin-right:4px;}
.mRight5 {margin-right:5px;}
.mRight10 {margin-right:10px;}
.mRight15 {margin-right:15px;}
.mRight20 {margin-right:20px;}
.mRight30 {margin-right:30px;}
.mRight50 {margin-right:50px;}

.mBottom1 {margin-bottom:1px;}
.mBottom2 {margin-bottom:2px;}
.mBottom3 {margin-bottom:3px;}
.mBottom4 {margin-bottom:4px;}
.mBottom5 {margin-bottom:5px;}
.mBottom10 {margin-bottom:10px;}
.mBottom15 {margin-bottom:15px;}
.mBottom20 {margin-bottom:20px;}
.mBottom30 {margin-bottom:30px;}
.mBottom50 {margin-bottom:50px;}

