@{
    ViewBag.Title = "我的采购";
}

<link href="/modules/css/orders/purchase.css" rel="stylesheet" />
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/purchase/purchase"], function (obj) {
            obj.initList();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">我的采购</span>
    <a href="Purchase" class="ico-add left mTop4 mLeft20">新建采购</a>
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header">
            <td>采购单号</td>
            <td>状态</td>
            <td>总金额</td>
            <td>采购日期</td>
            <td>编辑</td>
            <td>作废</td>
        </tr>
    </table>
</div>
