<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-box">
            <a href="/Home/Index" class="left">首页</a>
            <a href="/Home/Logout" class="right">退出</a>
        </div>
    </header>
    <div class="main-box">
         @RenderSection("leftNav",false)
         @RenderBody()
    </div>
    <footer>
        
    </footer>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    @RenderSection("script",false)
</body>
</html>
