<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/scripts/layout.js"></script>
    
</head>
<body>
    <header>
        <div class="header-box">
            <a href="/Home/Index" class="left home" title="首页"></a>
            <a href="/Home/Logout" class="right logout" title="退出"></a>
        </div>
    </header>
    <div class="main-box">
         @RenderSection("leftNav",false)
        <div class="main-body">
            @RenderBody()
        </div>
    </div>
    <footer>
        
    </footer>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    @RenderSection("script",false)
</body>
</html>
