@{
    var controller = Url.RequestContext.RouteData.Values["controller"].ToString();
}

<div class="nav-class hand">
    <span class="">功能模块</span><img class="mLeft5" title="收起" src="/modules/images/pull.png" />
</div>
<ul class="nav-list">
    <li><a href="javascript:void(0)">员工管理</a></li>
    <li><a class="@Html.GetActiveMenu(controller,"Modules","active")" href="/Modules/Index">菜单模块</a></li>
    <li><a class="@Html.GetActiveMenu(controller,"Client","active")" href="/Client/Index">客户授权</a></li>
</ul>

