
<ul class="table-add category-add">
    <li>
        <span class="column-name">分类名称：</span>
        <span>
            <input type="text" class="verify" data-empty="*必填" maxlength="10" id="categoryName" />
        </span>
    </li>
    <li>
        <span class="column-name">状态：</span>
        <span>
            <input type="checkbox" id="categoryStatus" checked="checked" class="middle hand" />
            <label for="categoryStatus" class="hand">启用</label>
        </span>
    </li>
    <li>
        <span class="column-name">描述：</span>
        <textarea id="description"></textarea>
    </li>
</ul>
