<div class="category-layer">
    <div class="category-header"><span class="long">全部分类</span></div>
    <ul class="category-list">
        {%
	        for(var i=0, j=$data.length; i < j; i++){
	        var item = $data[i];
        %}
        <li data-id="{%=item.CategoryID%}" data-layer="{%=item.Layers%}" title="{%=item.Description%}">
            <span class="category-name long {%=item.Status==1?'':'colorccc'%}">{%=item.CategoryName%}</span>
            <span style="padding-left:0;" title="添加新品"  class="add-product right">></span>
        </li>
        {% } %}
    </ul>
</div>
