{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<li>
    <div class="product-item" >
        <a href="/Products/ChooseDetail?pid={%=item.ProductID%}&did={%=item.ProductDetailID%}" class="productimg">
            <img src="{%=item.ProductImage%}" alt="" />
        </a>
        <h2 class="price">
            ￥{%=item.Price.toFixed(2)%}
        </h2>
        <a href="/Products/ChooseDetail?pid={%=item.ProductID%}&did={%=item.ProductDetailID%}" class="name">
            {%=item.ProductName%}
        </a>
        <div class="sales">
            成交：{%=item.SaleCount%}
        </div>
    </div>
</li>
{% } %}
