
<ul class="table-add product-details-add">
    <li>
        <span class="column-name">编码：</span><input type="text" maxlength="50" id="detailsCode" data-empty="* 必填" class="input" />
    </li>
<!--    <li>
        <span class="column-name">条形码：</span><input type="text" maxlength="50" id="shapeCode" class="input" />
    </li>-->
    {%
	    for(var i=0, j=$data.length; i < j; i++){
	    var item = $data[i];
    %}
        <li data-id="{%=item.AttrID%}" class="productattr">
                <span class="column-name">{%=item.AttrName%}：</span>
                <select id="{%=item.AttrID%}">
                    {%
	                    for(var ii=0, jj=item.AttrValues.length; ii < jj; ii++){
	                    var value = item.AttrValues[ii];
                    %}
                        <option value="{%=value.ValueID%}">{%=value.ValueName%}</option> 
                    {% } %}
                </select>
        </li>
    {% } %}
    <li>
        <span class="column-name">价格/<label id="unitName"></label>：</span><input type="text" maxlength="10" data-empty="*" data-type="double" data-text="请输入数字!"  id="detailsPrice" class="input verify width80" />
        
    </li>
    <li id="bigpriceli">
        <span class="column-name">价格/<label id="bigName"></label>：</span><input type="text" maxlength="10" data-empty="*" data-type="double" data-text="请输入数字!"  id="bigPrice" class="input verify width80" />
        *<label id="bigquantity"></label>
    </li>
    <li>
        <span class="column-name">缩略图：</span><span id="imgSIco"></span>
    </li>
 </ul>
<img class="product-imgS" id="imgS" alt="" src="/modules/images/default.png" />
