@{
    ViewBag.Title = "菜单模块-新建模块";
}

@section script{

}
@section leftNav{
    @Html.Partial("_ModulesLeftNav")
}
<link href="/modules/css/modules.css" rel="stylesheet" />
<div class="main-body">
    <ul class="table-create">
        <li>
            <span>名称：</span>
            <input id="name" type="text" />
        </li>
        <li>
            <span class="left">描述：</span>
            <textarea class="mLeft3" id="description"></textarea>
        </li>
    </ul>
    <div>
        <a class="btn">保存</a>
    </div>
</div>