@{
    var actionName = Url.RequestContext.RouteData.Values["action"].ToString();
}
<nav>
    <div class="nav-class hand">
        <span class="">功能模块</span><img class="mLeft5" title="收起" src="/modules/images/pull.png" />
    </div>
    <ul class="nav-list">
        <li><a href="javascript:void(0)">员工管理</a></li>
        <li><a href="javascript:void(0)">菜单模块</a></li>
        <li><a href="javascript:void(0)">客户授权</a></li>
    </ul>
</nav>
