@{
    ViewBag.Title = "货位设置";
    var wares = (List<CloudSalesEntity.C_WareHouse>)ViewBag.Wares;
}

<link href="/modules/css/warehouse/warehouse.css" rel="stylesheet" />
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/warehouse/depotseat"], function (obj) {
            obj.initList('@Html.ToJSONString(wares)', '@ViewBag.WareID');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">货位设置</span>
    <a href="javascript:void(0);" class="ico-add left mTop4 mLeft20">添加货位</a>
    <div class="right searth-module"> </div> 
</div>
<ul class="search-box">
    <li>
        仓库：<select id="sltWareID">
                    <option selected="selected" value="-1">全部</option> 
                    @foreach (CloudSalesEntity.C_WareHouse model in wares)
                    {
                        <option value="@(model.WareID)">@(model.Name)</option> 
                    }
              </select>
    </li>
</ul>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header" id="warehouse-items">
            <td class="l-len">货位编码</td>
            <td>货位名称</td>
            <td>仓库名称</td>
            <td class="m-len">启用/禁用</td>
            <td class="">描述</td>
            <td class="s-len">编辑</td>
            <td class="s-len">删除</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
