{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td>
        <a href="/Client/Detail/{%=item.ClientID%}" title="编辑" data-id="{%=item.ClientID%}">编辑</a>
        <a  class="ico-del" href="javascript:void(0)" title="删除" data-id="{%=item.ClientID%}">删除</a>
        <a  href="/Client/ClientAuthorize/{%=item.ClientID%}" title="授权" data-id="{%=item.ClientID%}">授权</a>
    </td>
    <td><a href="javascript:void(0);">{%=item.CompanyName%}</a></td>
    <td class="center">{%=item.ContactName%}</td>
    <td class="center">{%=item.MobilePhone%}</td>
    <td>{%=!item.IndustryEntity?"":item.IndustryEntity.Name%}</td>
    <td class="center">{%=!item.City?"":(item.City.Province+item.City.City+item.City.Counties)%}</td>
    <td>{%=item.Address%}</td>
    <td title="{%=item.Description%}">{%=item.Description.subString(50)%}</td>
    <td class="center">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
<!--    <td class="center">
        <a class="ico-del" href="javascript:void(0)" title="删除" data-id="{%=item.ClientID%}"></a>
    </td>-->
</tr>
{% } %}
